@model PixelVrtic.Models.Aktivnost

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aktivnost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazivAktivnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazivAktivnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipAktivnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipAktivnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumZavrsetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumZavrsetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupa.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fotografija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fotografija)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
