@model PixelVrtic.Models.Aktivnost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aktivnost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazivAktivnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazivAktivnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipAktivnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipAktivnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumZavrsetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumZavrsetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupa.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fotografija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fotografija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
