@model PixelVrtic.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lozinka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lozinka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uloga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uloga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uplaceno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uplaceno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idGrupe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idGrupe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mjestoRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mjestoRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fotografija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fotografija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.univerzitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.univerzitet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diploma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diploma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pocetakObrazovanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pocetakObrazovanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.krajObrazovanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.krajObrazovanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naknada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naknada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
